form {
    padding: 10px;
    display: flex;
    flex-direction: column;

    >div {
        input {
            width: 100%;
            margin-bottom: 10px;
            caret-color: black;
            font-size: 18px;
        }
    }
    button {
        &[type="submit"] {
            color: black;
            font-size: 18px;
        }
    }
}